[Chercher et extraire par formule Python dans Excel](https://www.youtube.com/watch?v=9pk2C0RWerk&t=1s)

Date : 28/05/2025

In [1]:
import pandas as pd

In [2]:
tab=pd.read_excel('data/Loc.xlsx', sheet_name='Feuil1')
tab.head()

    Immat.   Marque  Modèle
0  BD008YC  RENAULT    CLIO
1  BQ561JM  CITROEN    NEMO
2  BB978MC  CITROEN      C5
3  BB524RN  RENAULT  KOLEOS
4  8145JPB  PEUGEOT     308

In [3]:
crit=['PEUGEOT', 'CITROEN', 'RENAULT']

In [6]:
tab.loc[tab['Marque']==crit[0]].sort_values(
    by='Immat.', ascending=True).reset_index(drop=True)

     Immat.   Marque Modèle
0   2020JNY  PEUGEOT    208
1   2043JNY  PEUGEOT    308
2   2069JNY  PEUGEOT    308
3  5495ZQ74  PEUGEOT    206
4   8033JPB  PEUGEOT    308
5   8048JPB  PEUGEOT    208
6   8121JPB  PEUGEOT    308
7   8145JPB  PEUGEOT    308