[Repousser les dates d'échéances par formule Python dans Excel](https://www.youtube.com/watch?v=OI8VYtFAa7M&list=PLpQBnWleLAauKmgcdndmEr81iIIoW9_Wi&index=29)

Date : 19/06/2025

In [1]:
import pandas as pd

In [25]:
df = pd.read_excel('data/DateOffset.xlsx', sheet_name='Feuil1')
df.head()

  Code  THT       Date
0   V1  802 2025-01-14
1   V2  112 2025-08-25
2   V3  207 2025-04-16
3   V4  950 2025-07-22
4   V5  179 2025-01-03

Nombre de jours à incrémenter

In [26]:
cr = 10

Modification des dates de la DF selon le nombre de jours à incrémenter

In [27]:
df['Date'] = df['Date'] + pd.DateOffset(days=cr)
df.head()

  Code  THT       Date
0   V1  802 2025-01-24
1   V2  112 2025-09-04
2   V3  207 2025-04-26
3   V4  950 2025-08-01
4   V5  179 2025-01-13