[Fréquences et répétitions par formules Python dans Excel](https://www.youtube.com/watch?v=WZHaOMPq9SE&list=PLpQBnWleLAauKmgcdndmEr81iIIoW9_Wi&index=23)

Date : 05/06/2025

In [1]:
import pandas as pd

In [2]:
dv = pd.read_excel('data/ValueCounts.xlsx', sheet_name='Feuil1')
dv.head().transpose()

,0,1,2,3,4
Id,1175,1196,1205,1203,1197
Raison sociale,Topfit,Antibes Squash et Fitness Club,LADY FITNESS ANTIBES,FITLANE,APHYSIA
Département,06-Alpes Maritimes,06-Alpes Maritimes,06-Alpes Maritimes,06-Alpes Maritimes,06-Alpes Maritimes
Activité,Clubs de forme,Clubs de forme,Clubs de forme,Clubs de forme,Clubs de forme
Ville,Antibes juan les pins,Antibes juan les pins,Antibes juan les pins,Mandelieu la napoule,Nice

Département le plus représenté

In [3]:
repD = dv['Département'].mode().item()
repD

'83-Var'

Ville la plus représentée

In [4]:
repV = dv['Ville'].mode().item()
repV

'Grenoble'

Nombre de fréquence du département le plus représenté

In [5]:
cptD = dv['Département'].value_counts()[repD]
int(cptD)

190

Nombre de fréquences de la ville la plus représentée

In [6]:
cptV = dv['Ville'].value_counts()[repV]
int(cptV)

31

Combinaison départements et villes les plus représentés

In [8]:
dv.value_counts(subset=['Département', 'Ville']).reset_index()

         Département                   Ville  count
0           38-Isère                Grenoble     31
1           26-Drome                 Valence     28
2         07-Ardèche                 Aubenas     21
3         07-Ardèche                 Annonay     19
4           69-Rhone               Lyon 5eme     18
..               ...                     ...    ...
400      84-Vaucluse                  Vedene      1
401      84-Vaucluse                Velleron      1
402      84-Vaucluse  Villeneuve les avignon      1
403        85-Vendée        La roche sur yon      1
404  87-Haute Vienne       Peyrat le chateau      1

[405 rows x 3 columns]