# Autres fonctionnalités / nouveautés sur Pandas

## 1. Quand une colonne Pandas contient des listes

In [1]:
import pandas as pd

In [5]:
data = {
    "name": ['Rice', 'Cake', 'Beer'],
    "ingredients": [['Rice'], ['Flour', 'Water', 'Eggs'], ['Water', 'Hop']]
}

Si on intervient pas sur le dictionnaire ci-avant

In [6]:
df = pd.DataFrame(data)
df

   name           ingredients
0  Rice                [Rice]
1  Cake  [Flour, Water, Eggs]
2  Beer          [Water, Hop]

Et cette fois-ci si on utilise la fonction 'explode'

In [7]:
df = df.explode("ingredients")
df

   name ingredients
0  Rice        Rice
1  Cake       Flour
1  Cake       Water
1  Cake        Eggs
2  Beer       Water
2  Beer         Hop