# Dropna()

In [1]:
import pandas as pd
from skimpy import skim

In [2]:
df = pd.read_excel('data/Dropna.xlsx', sheet_name='Feuil1')

In [3]:
df.head()

  Valeur  Nb  Division
0     70  10       7.0
1     80  NC       NaN
2     50   0       NaN
3      5   5       1.0
4     NC   0       NaN

In [4]:
skim(df)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ Dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 7      │ │ float64     │ 1     │                                                          │
│ │ Number of columns │ 1      │ └─────────────┴───────┘                                                          │
│ └───────────────────┴────────┘                                                                                  │
│                                                     number                                                      │
│ ┏━━━━━━━━━━━━┳━━━━━┳━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━━┳━━━━━┳━━━━━┳━━━━━━┳━━━━━━━━┓  │
│ ┃ column     ┃ NA  ┃ NA %                 ┃ mean   ┃ sd     ┃ p0      ┃ p25      ┃ p50 ┃ p75 ┃ p100 ┃ hist   ┃  │
│ ┡━━━━━━━━━━━━╇━━━━━╇━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━━╇━━━━━╇━━━━━╇━━━━━━╇━━━━━━━━┩  │
│ │ Division   │   4 │   57.142857142857146 │  2.228 │  4.292 │  -1.316 │  -0.1579 │   1 │   4 │    7 │ ▇▇   ▇ │  │
│ └────────────┴─────┴──────────────────────┴────────┴────────┴─────────┴──────────┴─────┴─────┴──────┴────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯

## Suppression des lignes pour lesquelles on ne peut pas diviser dans le champ Division

In [5]:
df.dropna()

  Valeur   Nb  Division
0     70   10  7.000000
3      5    5  1.000000
6     50  -38 -1.315789