[Transformer un tableau Excel de colonnes en lignes](https://www.youtube.com/watch?v=oSuNTgweIIQ&list=PLpQBnWleLAauKmgcdndmEr81iIIoW9_Wi&index=31)

Date : 25/06/25

In [1]:
import pandas as pd

In [ ]:
tab=pd.read_excel('data/Stack.xlsx', sheet_name='Feuil1')
tab.head()

     Ville   Juin  Juillet   Août  Septembre  Octobre  Novembre  Décembre
0    Paris  66150   127575  46550      25780    23380     25956     27996
1  Londres  21250    41280  56760      27340    16262     18053     29548
2   Berlin  20400     5400  30090      20731    19892     16913     28761
3   Madrid   5705    20375  73255      26445    23284     22062     16355

Transformation des colonnes en lignes

In [6]:
lines = tab.set_index('Ville').stack().reset_index()
lines

      Ville    level_1       0
0     Paris       Juin   66150
1     Paris    Juillet  127575
2     Paris       Août   46550
3     Paris  Septembre   25780
4     Paris    Octobre   23380
5     Paris   Novembre   25956
6     Paris   Décembre   27996
7   Londres       Juin   21250
8   Londres    Juillet   41280
9   Londres       Août   56760
10  Londres  Septembre   27340
11  Londres    Octobre   16262
12  Londres   Novembre   18053
13  Londres   Décembre   29548
14   Berlin       Juin   20400
15   Berlin    Juillet    5400
16   Berlin       Août   30090
17   Berlin  Septembre   20731
18   Berlin    Octobre   19892
19   Berlin   Novembre   16913
20   Berlin   Décembre   28761
21   Madrid       Juin    5705
22   Madrid    Juillet   20375
23   Madrid       Août   73255
24   Madrid  Septembre   26445
25   Madrid    Octobre   23284
26   Madrid   Novembre   22062
27   Madrid   Décembre   16355

Modification des en-têtes des champs

In [7]:
lines.columns = ['Ville', 'Mois', 'Valeur']
lines

      Ville       Mois  Valeur
0     Paris       Juin   66150
1     Paris    Juillet  127575
2     Paris       Août   46550
3     Paris  Septembre   25780
4     Paris    Octobre   23380
5     Paris   Novembre   25956
6     Paris   Décembre   27996
7   Londres       Juin   21250
8   Londres    Juillet   41280
9   Londres       Août   56760
10  Londres  Septembre   27340
11  Londres    Octobre   16262
12  Londres   Novembre   18053
13  Londres   Décembre   29548
14   Berlin       Juin   20400
15   Berlin    Juillet    5400
16   Berlin       Août   30090
17   Berlin  Septembre   20731
18   Berlin    Octobre   19892
19   Berlin   Novembre   16913
20   Berlin   Décembre   28761
21   Madrid       Juin    5705
22   Madrid    Juillet   20375
23   Madrid       Août   73255
24   Madrid  Septembre   26445
25   Madrid    Octobre   23284
26   Madrid   Novembre   22062
27   Madrid   Décembre   16355