[Compter les lignes et les colonnes en Python pour Excel](https://www.youtube.com/watch?v=py83sQmbFYs&list=PLpQBnWleLAauKmgcdndmEr81iIIoW9_Wi&index=23)

Date : 04/06/2025

In [1]:
import pandas as pd

Chargement de la table

In [2]:
tab = pd.read_excel('data/Shape.xlsx', sheet_name='Feuil1')
tab.head()

     Immat.   Marque Modèle
0  2677XT74  CITROEN     C3
1   AC454BD  CITROEN     C4
2   AJ007PV  CITROEN     C4
3   BB978MC  CITROEN     C5
4   BQ561JM  CITROEN   NEMO

Nombre de lignes

In [4]:
print(f"Nombre de lignes : {tab.shape[0]}")

Nombre de lignes : 24

Nombre de colonnes

In [5]:
print(f"Nombre de colonnes : {tab.shape[1]}")

Nombre de colonnes : 3

Données générées aléatoirement

In [7]:
tab.sample(tab.shape[0]).reset_index(drop=True)

      Immat.   Marque  Modèle
0    BQ561JM  CITROEN    NEMO
1    92BLK57  RENAULT  TWINGO
2    2043JNY  PEUGEOT     308
3    CS727JH  CITROEN      C1
4    AC454BD  CITROEN      C4
5   5495ZQ74  PEUGEOT     206
6    BD170HZ  RENAULT    CLIO
7    CE216DS  CITROEN     DS4
8    AJ969LZ  RENAULT    CLIO
9    AB479LG  RENAULT  ESPACE
10   8048JPB  PEUGEOT     208
11  112CSB59  RENAULT   MODUS
12   CS878MP  CITROEN      C4
13   AJ007PV  CITROEN      C4
14   BB978MC  CITROEN      C5
15   8145JPB  PEUGEOT     308
16  1702WK74  RENAULT  TWINGO
17  2677XT74  CITROEN      C3
18   8121JPB  PEUGEOT     308
19   BD008YC  RENAULT    CLIO
20   2069JNY  PEUGEOT     308
21   BB524RN  RENAULT  KOLEOS
22   8033JPB  PEUGEOT     308
23   2020JNY  PEUGEOT     208