[Calculs de rangs par formule Python dans Excel](https://www.youtube.com/watch?v=F0jFjEBK5Oo&list=PLpQBnWleLAauKmgcdndmEr81iIIoW9_Wi&index=30)

Date : 24/06/2025

In [1]:
import pandas as pd

Chargement du fichier Excel converti en DF pandas en récupérant certains champs

In [5]:
df = pd.read_excel('data/Rank.xlsx', sheet_name='Feuil1'
                   )[['Nom', 'Prénom', 'Moyenne']]
df.head()

         Nom    Prénom  Moyenne
0       Ogne      Paul     13.0
1     Rouana     Marie     10.8
2  Hamalibou   Arlette     14.0
3      Galse  Charline      9.5
4      Ochet      Eric     12.5

Création d'un nouveau champ, permettant d'attribuer un rang selon la moyenne de l'élève

In [9]:
df['Rang'] = df['Moyenne'].rank()
df.sort_values(by=['Moyenne'], ascending=True).reset_index(drop=True).transpose()

                0      1       2          3      4          5     6          7
Nom         Galse     Mi  Rouana    Degarde  Ochet    Hatique  Ogne  Hamalibou
Prénom   Charline  Samia   Marie    Sylvain   Eric   Stéphane  Paul    Arlette
Moyenne       9.5  10.25    10.8  11.333333   12.5  12.666667  13.0       14.0
Rang          1.0    2.0     3.0        4.0    5.0        6.0   7.0        8.0