# Query()

In [30]:
import pandas as pd
from skimpy import skim

## 1er onglet du fichier Excel Query

In [31]:
df = pd.read_excel('data/Query.xlsx', sheet_name='Feuil1')

In [32]:
df.head()

          Département        Activité                  Ville
0  06-Alpes Maritimes  Clubs de forme  Antibes juan les pins
1  06-Alpes Maritimes  Clubs de forme  Antibes juan les pins
2  06-Alpes Maritimes  Clubs de forme  Antibes juan les pins
3  06-Alpes Maritimes  Clubs de forme   Mandelieu la napoule
4  06-Alpes Maritimes  Clubs de forme                   Nice

In [33]:
skim(df)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ Dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 997    │ │ string      │ 3     │                                                          │
│ │ Number of columns │ 3      │ └─────────────┴───────┘                                                          │
│ └───────────────────┴────────┘                                                                                  │
│                                                     string                                                      │
│ ┏━━━━━━━━━━━┳━━━━┳━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━━┓  │
│ ┃           ┃    ┃      ┃          ┃           ┃           ┃           ┃ chars per  ┃ words per ┃ total      ┃  │
│ ┃ column    ┃ NA ┃ NA % ┃ shortest ┃ longest   ┃ min       ┃ max       ┃ row        ┃ row       ┃ words      ┃  │
│ ┡━━━━━━━━━━━╇━━━━╇━━━━━━╇━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━━┩  │
│ │ Départeme │  0 │    0 │ 83-Var   │ 17-Charen │ 06-Alpes  │ 87-Haute  │       9.15 │       1.1 │       1141 │  │
│ │ nt        │    │      │          │ te        │ Maritimes │ Vienne    │            │           │            │  │
│ │           │    │      │          │ Maritime  │           │           │            │           │            │  │
│ │ Activité  │  0 │    0 │ Golf     │ Centres   │ Bar/Café  │ parc      │       12.2 │       1.3 │       1299 │  │
│ │           │    │      │          │ equestres │           │ d'attract │            │           │            │  │
│ │           │    │      │          │ ,         │           │ ion       │            │           │            │  │
│ │           │    │      │          │ equitatio │           │           │            │           │            │  │
│ │           │    │      │          │ n         │           │           │            │           │            │  │
│ │ Ville     │  0 │    0 │ Nice     │ Saint     │ Agay      │ Voreppe   │       10.9 │       1.8 │       1800 │  │
│ │           │    │      │          │ maximin   │           │           │            │           │            │  │
│ │           │    │      │          │ la sainte │           │           │            │           │            │  │
│ │           │    │      │          │ baume     │           │           │            │           │            │  │
│ └───────────┴────┴──────┴──────────┴───────────┴───────────┴───────────┴────────────┴───────────┴────────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯

### Nombre de villes par département avec groupby()

In [34]:
dv = (df[['Département', 'Ville']].groupby(by='Département').agg('count')
      .sort_values(by='Ville', ascending=False))
dv

                      Ville
Département
83-Var                  190
69-Rhone                167
07-Ardèche              142
38-Isère                142
26-Drome                134
84-Vaucluse              63
06-Alpes Maritimes       56
13-Bouches du Rhone      38
42-Loire                 28
30-Gard                  15
73-Savoie                 6
31-Haute Garonne          6
18-Cher                   2
71-Saone et Loire         2
17-Charente Maritime      1
33-Gironde                1
55-Meuse                  1
75-Paris                  1
85-Vendée                 1
87-Haute Vienne           1

### Liste des départements comportant au moins 25 villes avec query()

In [35]:
numbers = 25

In [36]:
dv.query(f"Ville > {numbers}")

                     Ville
Département
83-Var                 190
69-Rhone               167
07-Ardèche             142
38-Isère               142
26-Drome               134
84-Vaucluse             63
06-Alpes Maritimes      56
13-Bouches du Rhone     38
42-Loire                28

### Nombre d'activités recencées dans chaque ville en affichant également les départements avec groupby()

In [37]:
synth = (df.groupby(["Département", "Ville"])
         .size().reset_index(name='counts')
         .sort_values("counts", ascending=False))
synth

         Département                   Ville  counts
189         38-Isère                Grenoble      31
151         26-Drome                 Valence      28
22        07-Ardèche                 Aubenas      21
19        07-Ardèche                 Annonay      19
270         69-Rhone               Lyon 5eme      18
..               ...                     ...     ...
400      84-Vaucluse                  Vedene       1
401      84-Vaucluse                Velleron       1
402      84-Vaucluse  Villeneuve les avignon       1
403        85-Vendée        La roche sur yon       1
404  87-Haute Vienne       Peyrat le chateau       1

[405 rows x 3 columns]

### Nombre de villes recensant un nombre d'activité d'au moins de 10 avec query()

In [38]:
numbers = 10

In [39]:
synth.query(f"counts > {numbers}")

             Département                Ville  counts
189             38-Isère             Grenoble      31
151             26-Drome              Valence      28
22            07-Ardèche              Aubenas      21
19            07-Ardèche              Annonay      19
270             69-Rhone            Lyon 5eme      18
271             69-Rhone            Lyon 6eme      15
267             69-Rhone            Lyon 2eme      15
85   13-Bouches du Rhone            Marseille      14
328               83-Var  Hyeres les palmiers      14
372          84-Vaucluse              Avignon      14
361               83-Var        Sainte maxime      14
131             26-Drome           Montelimar      14
11    06-Alpes Maritimes             Valbonne      14
7     06-Alpes Maritimes                 Nice      13
266             69-Rhone             Lyon 1er      12
288             69-Rhone         Saint priest      12
359               83-Var        Saint raphael      12
2     06-Alpes Maritimes               Cannes      12
345               83-Var             Les arcs      11
367               83-Var               Toulon      11

## 2ème onglet du fichier Excel Query

In [40]:
df2 = pd.read_excel('data/Query.xlsx', sheet_name='Feuil2')

In [41]:
df2.head().transpose()

               0        1        2        3     4
Article  T-Shirt  T-Shirt  T-Shirt  Chemise  Polo
Taille         L        M        S        L     M
Couleur    Rouge    Rouge     Bleu     Noir  Vert
Prix          35       32       29       48    31

In [42]:
skim(df2)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ Dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 13     │ │ string      │ 3     │                                                          │
│ │ Number of columns │ 4      │ │ int64       │ 1     │                                                          │
│ └───────────────────┴────────┘ └─────────────┴───────┘                                                          │
│                                                     number                                                      │
│ ┏━━━━━━━━━━━━━┳━━━━━━┳━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━┳━━━━━━━━━┳━━━━━━━━━━┓  │
│ ┃ column      ┃ NA   ┃ NA %    ┃ mean      ┃ sd        ┃ p0   ┃ p25    ┃ p50    ┃ p75   ┃ p100    ┃ hist     ┃  │
│ ┡━━━━━━━━━━━━━╇━━━━━━╇━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━╇━━━━━━━━━╇━━━━━━━━━━┩  │
│ │ Prix        │    0 │       0 │     33.69 │     8.807 │   15 │     30 │     33 │    36 │      49 │  ▂▂▅▇▂▃  │  │
│ └─────────────┴──────┴─────────┴───────────┴───────────┴──────┴────────┴────────┴───────┴─────────┴──────────┘  │
│                                                     string                                                      │
│ ┏━━━━━━━━━┳━━━━┳━━━━━━┳━━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━┓  │
│ ┃ column  ┃ NA ┃ NA % ┃ shortest ┃ longest ┃ min     ┃ max     ┃ chars per row ┃ words per row ┃ total words ┃  │
│ ┡━━━━━━━━━╇━━━━╇━━━━━━╇━━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━┩  │
│ │ Article │  0 │    0 │ Polo     │ T-Shirt │ Chemise │ T-Shirt │          6.08 │             1 │          13 │  │
│ │ Taille  │  0 │    0 │ L        │ L       │ L       │ S       │             1 │             1 │          13 │  │
│ │ Couleur │  0 │    0 │ Bleu     │ Orange  │ Bleu    │ Vert    │          4.54 │             1 │          13 │  │
│ └─────────┴────┴──────┴──────────┴─────────┴─────────┴─────────┴───────────────┴───────────────┴─────────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯

### Critères à assigner : prix, taille 1 et taille 2

In [43]:
crit1 = 35
crit2 = 'S'
crit3 = 'M'

### Affichage des articles avec les critères ci-avant avec des prix <=

In [49]:
df2.query(f"Prix <= {crit1} and (Taille == '{crit2}' or Taille == '{crit3}')"
          ).sort_values(by='Prix', ascending=True).transpose()

           10       2        7     4        1
Article  Polo  T-Shirt  T-Shirt  Polo  T-Shirt
Taille      S        S        M     M        M
Couleur  Noir     Bleu     Vert  Vert    Rouge
Prix       26       29       30    31       32