# Fonction explode

La fonction explode permet d'"étaler" une liste contenue dans un champ d'une DF pandas à convertir

Date : 03/03/25 <br>
Editeur : Laurent Reynaud

In [1]:
import pandas as pd

In [2]:
data = {
    "name": ['Rice', 'Cake', 'Beer'],
    "ingredients": [['Rice'], ['Flour', 'Water', 'Eggs'], ['Water', 'Hop']]
}

Si on intervient pas sur le dictionnaire ci-avant

In [3]:
df = pd.DataFrame(data)
df

   name           ingredients
0  Rice                [Rice]
1  Cake  [Flour, Water, Eggs]
2  Beer          [Water, Hop]

Et cette fois-ci si on utilise la fonction 'explode'

In [4]:
df_expl = pd.DataFrame(data)

In [5]:
df_expl = df_expl.explode("ingredients")
df_expl

   name ingredients
0  Rice        Rice
1  Cake       Flour
1  Cake       Water
1  Cake        Eggs
2  Beer       Water
2  Beer         Hop