[Incrémenter automatiquement les valeurs d'un tableau Excel](https://www.youtube.com/watch?v=gtgntBroNCM&list=PLpQBnWleLAauKmgcdndmEr81iIIoW9_Wi&index=28)

Date : 18/06/2025

In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('data/Radd.xlsx', sheet_name='Feuil1')
df.head().transpose()

   0  1  2  3  4
A  1  4  3  3  3
B  1  4  1  4  2
C  2  2  2  4  2
D  1  2  4  3  4
E  2  1  2  2  3

Instanciation de la valeur à indenter

In [4]:
crit = 6

Indentation de cette valeur dans la DF

In [5]:
df.radd(crit).head().transpose()

   0   1   2   3   4
A  7  10   9   9   9
B  7  10   7  10   8
C  8   8   8  10   8
D  7   8  10   9  10
E  8   7   8   8   9