[La méthode Python where dans les formules Excel](https://www.youtube.com/watch?v=m0oRaXp3yPI&list=PLpQBnWleLAauKmgcdndmEr81iIIoW9_Wi&index=37)

Date : 09/07/2025

In [1]:
import pandas as pd

In [21]:
tab = pd.read_excel('data/Where.xlsx', sheet_name='Feuil1')
tab.head().transpose()

                 0       1       2          3      4
Vendeur     Hochon  Audine  Rouana  Hamalibou  Céhef
Fixe           580     580     690        395   1300
Ancienneté   18.29   22.16   37.99      15.55  11.43
Commission   0.037   0.037   0.042      0.037  0.037
Ventes       18760   21500   15100      25500  22200

Ventes supérieures ou égales à...

In [22]:
cr1 = 18000

Ancienneté inférieure ou égale à...

In [23]:
cr2 = 25

In [24]:
tab=tab.where(
    (tab['Ventes'] >= cr1) & 
    (tab['Ancienneté'] <= cr2)
    ).dropna().reset_index(drop=True)
tab.transpose()

                  0        1          2        3        4
Vendeur      Hochon   Audine  Hamalibou    Céhef    Galls
Fixe          580.0    580.0      395.0   1300.0    990.0
Ancienneté    18.29    22.16      15.55    11.43     19.1
Commission    0.037    0.037      0.037    0.037    0.032
Ventes      18760.0  21500.0    25500.0  22200.0  27900.0