[Compter les valeurs distinctes par formule Python dans Excel](https://www.youtube.com/watch?v=vYq2H_J03Qs&list=PLpQBnWleLAauKmgcdndmEr81iIIoW9_Wi&index=27)

Date : 17/06/2025

In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('data/Nunique.xlsx', sheet_name='Feuil1')
df.head().transpose()

   0  1  2  3  4
A  1  4  3  3  3
B  1  4  1  4  2
C  2  2  2  4  2
D  1  2  4  3  4
E  2  1  2  2  3

Valeurs distinctes par ligne

In [4]:
df.nunique()

A    4
B    4
C    3
D    4
E    4
dtype: int64

Valeurs distinctes par colonne

In [5]:
df.nunique(axis=1)

0     2
1     3
2     4
3     3
4     3
5     3
6     3
7     4
8     3
9     3
10    3
dtype: int64