[Extraire les données en fonction d'une position trouvée](https://www.youtube.com/watch?v=TSwcf-FSe-U&list=PLpQBnWleLAauKmgcdndmEr81iIIoW9_Wi&index=35)

Date : 03/07/2025

In [1]:
import pandas as pd

In [3]:
tab = pd.read_excel('data/Take2.xlsx', sheet_name='Feuil1')
tab.head().transpose()

,0,1,2,3,4
Client_id,C1,C2,C3,C4,C5
Client_civilite,Monsieur,Madame,Madame,Madame,Monsieur
Client_nom,Hochon,Audine,Rouana,Hamalibou,Céhef
Client_prenom,Paul,Anne,Marie,Arlette,Hassan
Client_dep,84000,83630,13129,83210,4120
Client_ville,AVIGON,AIGUINES,ARLES,BELGENTIER,CASTELLANE
Client_mail,Hochon.Paul@orange.fr,Audine.Anne@orange.fr,Rouana.Marie@orange.fr,Hamalibou.Arlette@orange.fr,Céhef.Hassan@orange.fr

Critère recherché dans le champ Client_nom

In [14]:
cr = tab['Client_nom'].to_list()
cr

['Hochon',
 'Audine',
 'Rouana',
 'Hamalibou',
 'Céhef',
 'Galls',
 'Houda',
 'Tatouille',
 'Sille',
 'Bernard',
 'Maurice',
 'Bonbeur',
 'Hèresse',
 'Noix',
 'Gature',
 'De MontéCarlo',
 'Hénéré',
 'Sansasse',
 'Thine',
 'Solo',
 'Jet',
 'Braltar',
 'Douche',
 'Sarbaque',
 'Lile',
 'Doeuf',
 'Niomme',
 'Honnête',
 'Tomette',
 'Dagin',
 'Aubin',
 'Adame',
 'Fonfec',
 'Aijaune',
 'Wilda',
 'Ecart',
 'Voyant']

In [15]:
cr = cr[2]
cr

'Rouana'

Position du critère recherché

In [16]:
position = tab.index[tab['Client_nom'] == cr].tolist()[0]
position

2

Extraction des données de la position trouvée

In [18]:
tab.take([position]).transpose()

                                      2
Client_id                            C3
Client_civilite                  Madame
Client_nom                       Rouana
Client_prenom                     Marie
Client_dep                        13129
Client_ville                      ARLES
Client_mail      Rouana.Marie@orange.fr